body{
    color: white;
    background: none repeat scroll 0% 0% rgb(42, 41, 46);
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
.container {
    color: white;
    font-size: 1em;
    text-align: center;
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.disclaimer {
    color: gray;
    font-size: 12px;
    text-align: justify;
    margin: 30px 0px 0px;
}
.disclaimer a {
    color: gray;
}

.label {
    font-size: 13px;
}

.inputText{
    font-size: 1.5em;
    width: 95%;
    text-align: center;
}

.input_submit {
    width: 95%;
    margin: 10px 0px 5px;
    background: none repeat scroll 0% 0% rgb(178, 210, 52);
    font-size: 1.1em;
    color: black;
}
.continueBtn {
    color: #FFF;
    border-radius: 10px;
    border: none;
    font-weight: normal;
    font-size: 20px !important;
    height: 30px !important;
    line-height: 30px;
    width: 80%;
    background: linear-gradient(to bottom, rgb(78, 248, 90) 0%, rgb(0, 147, 9) 100%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgb(78, 248, 90) 0%, rgb(0, 147, 9) 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8952b', endColorstr='#bb7020',GradientType=0 );
    text-shadow: 1px 1px 2px #000;
    margin:5px auto;
    display: inline-block;
    text-decoration: none;
}
